//- input.pug
mixin moreTypes(field, index, used)
  select.select&attributes({ name: 'select_' + field + index, 'data-select-xhr': '/vcards/type/' + field + '/_' + index + '/' })
    option(value='')= '- neu -'
    each type in fields[field].types
      if used.indexOf(type) < 0
        option(value=type)= types[type] || '- ' + type + ' -'

mixin types(field, index, typeList)
  .types
    if typeof typeList == 'string'
      - typeList = [typeList]
    each type, i in typeList
      include input-type.pug
    + moreTypes(field, index, typeList)

mixin input-image(name, prop)
  if prop.value
    input(
      type='checkbox',
      id=name,
      name=name,
      value=prop.value,
      checked)
    input(
      type='hidden',
      id=name + '_type',
      name=name + '_type',
      value=prop.type)
    input(
      type='hidden',
      id=name + '_encoding',
      name=name + '_encoding',
      value=prop.encoding)
    img(src='data:image/' + prop.type + ';' + prop.encoding.toLowerCase() + ',' + prop.value)
  else
    input(
      type='file',
      id=name,
      name=name)

mixin input-value(field, value, index, part)
  input(
    type='text',
    id=field + index + (part ? '_' + part : ''),
    name=field + index + (part ? '_' + part : ''),
    class='input-text' + (part ? ' ' + part : ''),
    placeholder=(part ? part : fields[field].label),
    title=(part ? part : fields[field].label),
    size=(fields[field].size ? fields[field].size : ''),
    value=value)

mixin input-type(field, prop, index)
  if prop.type &&  prop.type.length > 0
    + types(field, index, prop.type)
  else if fields[field].types
    .types
      + moreTypes(field, index, [])

mixin input-group(field, prop, index)
  if fields[field].parts
    each part in fields[field].parts_order
      + input-value(field, prop.value[part], index, part)
    + input-type(field, prop, index)
  else if fields[field].type == 'image'
    + input-image(field + index, prop)
  else
    + input-value(field, prop.value, index)
    + input-type(field, prop, index)

if vcard
  - var prop = vcard.prop[field]
  if prop.value
    + input-group(field, prop, '')
  else
    each p, index in prop
      + input-group(field, p, index)
  if fields[field].type == 'list'
    span.add&attributes({ 'data-click-xhr': '/vcards/input/' + field + '/' })= '+'
  .error(id=field + '-error')
else
  +input-group(field, { value: '' }, index)
  if fields[field].type == 'list'
    span.add&attributes({ 'data-click-xhr': '/vcards/input/' + field + '/' })= '+'
