mixin input-text(field, value, types)
  input(type='text', id=field, name=field, class='input-text', size=fields[field].size, value=value)
  if types
    = " "
    = types.join(' / ')

if typeof vcard.getValue(field) == "string"
  +input-text(field, vcard.getValue(field), type(vcard.getType(field)))
else
  each obj in vcard.getValue(field)
    +input-text(field, obj.value, type(obj.type))
.error(id=field + '-error')
