//- merge.pug
mixin parts(value, parts)
  span.parts
    - var values = value.split(';')
    - var comma = false
    each part, i in parts
      if values[i]
        span(title=part)= (comma ? ', ' : '') + values[i]
        - comma = true

mixin types(types, name, index)
  if typeof types == 'string'
    input(type='hidden', id='value_' + name + index, name=name + index + '_type', value=types)
    span.type= ' (' + type(types) + ')'
  else
    each type, i in types
      input(type='hidden', id='value_' + name + index + i, name=name + index + '_type', value=type)
    span.type= ' (' + type(types).join(", ") + ')'


mixin choice(field, other, name, id)
  span.choice
    - var value = field.valueOf()
    if typeof value == 'string'
      if !other || value != other.valueOf()
        input(type='radio', name=name, value=value, checked=!other, id=id)
        label(for=id)
          if fields[name].parts
            + parts(value, fields[name].parts)
          else if value.match(/^[0-9.-]+[T ][0-9:]+Z?$/)
            = timestamp(value)
          else
            = value
    else
      if JSON.stringify(value) != JSON.stringify(other.valueOf())
        input(type='radio', name=name, value=value, checked, id=id)
        label(for=id)
          - var i = 0
          each val, key in field
            = (i++ > 0) ? ', ' : ''
            span(title=key)= val

mixin list(field, other, name, id)
  - otherValues = []
  if other
    if typeof other.valueOf() == 'string'
      - otherValues = [other.valueOf()]
    else
      each item, i in other.valueOf()
        - otherValues.push(item.valueOf())
  if typeof field.valueOf() == 'string'
    if otherValues.indexOf(field.valueOf()) < 0
      input(type='checkbox', name=id, value=field.valueOf(), checked, id=id)
      label(for=id)
        if fields[name].parts
          + parts(field.valueOf(), fields[name].parts)
        else
          = field.valueOf()
        if field.type
          + types(field.type, id, '')
  else
    ul.values
      each item, i in field
        if otherValues.indexOf(item.valueOf()) < 0
          li.values-item
            input(type='checkbox', name=id + i, value=item.valueOf(), checked, id=id + '_' + i)
            label(for=id + '_' + i)
              = item.valueOf()
              if item.type
                + types(item.type, id, i)


mixin value(field, other, name, id)
  if field
    if fields[name].type == 'list'
      + list(field, other, name, id)
    else
      + choice(field, other, name, id)
  else
    | !{'&nbsp;'}

mixin values(field1, field2, name)
  div.itemvalue.i1
    + value(field1, null, name, name + '1')
  div.itemvalue.i2
    + value(field2, field1, name, name + '2')

mixin field2(field1, field2, name)
  li.list-item
    div(id=name).fielddiv.label= fields[name].label + ":"
    + values(field1, field2, name)

#mergeView.mergeView
  - var names1 = vcard.getFields()
  - var names2 = vcard2.getFields()
  form#merge.merge(method='POST', action='/vcards/save/' + id + '/' + id2)
    ul#fieldList.item-list
      each name in names1
        + field2(vcard.get(name), vcard2.get(name), name)
      each name in names2
        if (names1.indexOf(name) < 0)
          + field2(null, vcard2.get(name), name)
    #submit.submit
      input.searchSubmit(type='submit', value='speichern')
